# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-*
conf
*.xcf
*.swp
*.pl
extra-mods-*
*.patch
runs

# datagen caches
**/.cache
