ideeen.docx
~$ideeen.docx
~WRL1161.tmp
drone.txt
unused resources
/bin

*.class

# Package Files #
*.jar
*.war
*.ear

*.iml

environment.properties
*.db

.classpath
.project
/build
/eclipse
.gradle/
.settings/
/sounds